#header {
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../../images/header_640.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    margin: 0;
    width: 100%;
    
    @media (min-width: 750px) {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../../images/header_1280.jpg");
    }
    @media (min-width: 1280px) {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../../images/header_1920.jpg");
    }
}

.header-content {
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    padding: 75px 0;
    position: relative;
    text-align: center;
    top: 40%;
    width: 100%;

    a {
        background-color: $accent;
        color: $white;
        width: 150px;

        &:hover {
          background-color: $accent-bright;
          transition: 0.5s;
        }
    }

    .heading-text {
        font-size: 36px;
        text-transform: uppercase;

        @media (min-width: 750px) {
          font-size: 52px;
        }
    }

    .hr {
        border-color: $accent;

    }

    .text {
        color: $text-light;
    }
}
