// section in main with a class of image-gallery

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 1260px) {
        justify-content: space-around;
    }
    padding: 15px;
    @media (min-width: 649px) {
        padding: 0 10px;
    }
    @media (min-width: 1200px) {
        padding: 0;
    }
    width: 100%;
    /*
      each figure is wrapped in a container that takes up a predetermined space
      Mobile - 1 photo per row, ~tablet 2 per row, large devices 3 per row
    */
    .image-container {
        position: relative;
        width: 100%;
        @media (min-width: 649px) {
            width: 50%;
        }
        @media (min-width: 1200px) {
            width: 33.3333%;
        }

        &:hover, &:focus {
            .background {
                opacity: 1;
                // show the span element
                span {
                    opacity: 1;
                }
            }
        }

        .background {
            // color for hover effect
            background-color: $accent-opaque;
            opacity: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transition: all 0.5s;
            width: 100%;
            z-index: 4;

            span {
                color: $white;
                font: {
                    family: 'Open sans', sans-serif;
                    size: 24px;
                    weight: 700;
                }
                left: 50%;
                opacity: 0;
                position: absolute;
                text-shadow: 1px 1px 2px $text-dark;
                text-transform: uppercase;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: 0.3s ease-in-out;
                // https://stackoverflow.com/a/25776315
                // credit for helping me understand how to center an absolutely positioned element
            }
        }
    }

    figure {
        height: 100%;
        margin: 0;
        // relative position to set coordinates for absolutely positioned span element
        position: relative;
        max-width: 650px;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 1;
            transition: 0.3s ease-in-out;
        }
    }
}
