main {
    text-align: center;
    width: 100%;

    section {
        padding: 50px 0;
    }

    .section-1 {
        background-color: $accent;
        color: white;

        .button {
            background-color: $white;
            color: $accent;
            width: 170px;

            &:hover {
                background-color: #ddd;
            }
        }

        .heading-text {
            font-size: 26px;
            padding: 10px;
            @media (min-width: 750px) {
                font-size: 32px;
            }
        }
    }

    .section-2 {
        color: $text-dark;

        .container {
            flex-wrap: wrap;
            margin: 0 auto;
            max-width: 1320px;
            width: 100%;
        }

        // these media queries prevents 3 boxes on one row
        // scales from 1 box, to 2 boxes, to 4 boxes in a row
        .container-small {
            @media (min-width: 1000px) {
              width: 980px;
            }

            @media (min-width: 1340px) {
              width: 100%;
            }
        }

        .hr {
            border-color: $accent;
            margin-bottom: 15px;
        }

        i {
            color: $accent;
            font-size: 36px;
        }

        .text {
            padding: 0;
        }
    }
}

.section-4 {
  align-items: center;
  background-color: $off-black;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 35px 0;

  .button {
    background-color: $white;
    color: $off-black;
    width: 150px;

    &:hover {
      background-color: $lightest-gray;
    }
  }

  .heading-text {
    font: {
      size: 30px;
      weight: 400;
    }
    margin: 5px 0 10px;
    padding: 0;
  }


}
