// Basic colors
$white: #fff;
$off-black: #222;

// Text color
$text-light: rgba(255, 255, 255, 0.75);
$text-dark: #333;

//main colors
$accent: #d32f2f;
$accent-bright: #9a0007;

//grays
$lightest-gray: #e8e8e8;
$light-gray: #ddd;
