
.icon-heart:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */